@use '../variables/variable.scss' as *;

body {
  background-color: $color-Neutral-100;
  font-family: $fontFamily_Regular;
  font-weight: $fontWeight-400;
  font-size: 1rem;
  color: $color-Neutral-900;

  display: grid;
  min-height: 100vh;
  place-content: center;
  @media screen and (min-width: $screen-desktop) {
    background-color: $color-Neutral-700;
  }
}
