/** ----- COLORS ----- **/
$color-Primary-900: hsl(4, 100%, 67%);
$color-Neutral-900: hsl(234, 29%, 20%);
$color-Neutral-700: hsl(235, 18%, 26%);
$color-Neutral-400: hsl(231, 7%, 60%);
$color-Neutral-100: hsl(0, 0%, 100%);

/** ----- FONT_FAMILY ----- **/
@font-face {
  font-family: 'Roboto_Bold';
  src: url('../../assets/fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Roboto_Regular';
  src: url('../../assets/fonts/Roboto-Regular.ttf');
}

$fontFamily_Bold: 'Roboto_Bold';
$fontFamily_Regular: 'Roboto_Regular';

/** ----- FONT_WEIGHT ----- **/
$fontWeight-400: 400;
$fontWeight-700: 700;
